.NavContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.NavContainer a{
    text-decoration: none;
    cursor: pointer;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
}
.NavContainer .logo{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}
.NavContainer .logo:hover{
    color: crimson;
}
.navbar{
    display: flex;

}
.navbar li{
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}
.navbar li:hover{
    color: crimson;
}
.icons{
    display: flex;
}
.icons svg{
    margin-right: 10px;
    cursor: pointer;
}

.NavContainer .categories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavContainer .categories a{
    margin-right: 15px;
    cursor: pointer;
    font-size: 1.3rem;
}
.NavContainer .categories a:hover{
    color: crimson;
}